a:link {color: red}
a:hover {color: DarkGreen}
img {border: 1px solid HotPink; height: 250px; width:350px;}
.class1 {color: HotPink; text-align: center; font-weight: bold;}
.class2 {color: DarkGreen; text-align: center; font-family: Comic Sans;}


