body {
background-color: red
}
h1 { 	color: black;
	margin-left: 0px;
}
h2 { 
	text-align: center
}
ul {
	list-style-type: square;
	 margin: 0;
   	 padding: 0;
}

li {
    display: inline;
}
h1 { 
	font-size: 30px;
	font-style: italic;
	font-family: verdana;
}
p { 

	font-size: 20px;
	font-style: italic;
}
td    { padding: 6px; }
td    { border: 1px solid gray 
}
#menu:hover {

}
 @keyframes spin {
from {transform: rotate(0deg);}
 to  {transform: rotate(360deg);}
}

@keyframes spin {
0%	{transform: rotate(0deg);}
50%	{transform: rotate(180deg);max-width: 10px; max-height: 10px;}
100%	{transform: rotate(360deg);}
}

.image:hover {
 	position: relative;
	animation-name: spin;
	animation-duration: 2s;
}
@keyframes make {
50% { max-width: 10px; max-height: 10px;}
}


@keyframes pokrocili_prubeh {
 0%	{ background-color: red;}
 50%	{ background-color: green}
 100%	{ background-color: green;}
}
#content:hover {
	animation: pokrocili_prubeh 2s;
}
.image { 	
	display: block;
	margin: auto;
	width: 450px;
	height:300px;
}